body{
    background-image: url('/src/assets/duel-arena-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}


@media (max-width: 576px) {
    .sprite{
        transform: scale(.6);
    }
    /* .sprite-fight{
        display: flex;
        justify-content: center;
    } */
}

.sprite{
    top: 55%;
}